@font-face {
  font-family: textsmall;
  src: url(../fonts/chronicle-small.otf);
}
@font-face {
  font-family: textitalic;
  src: url(../fonts/chronicle-italic.otf);
}
@font-face {
  font-family: textroman;
  src: url(../fonts/chronicle-roman.otf);
}
@font-face {
  font-family: textbold;
  src: url(../fonts/chronicle-semibold.otf);
}
html {
  font-family: textsmall;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
  color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #0b1d26;
}

.wrapper {
  background-color: #0b1d26;
  /*  position: relative; */
  height: auto;
  width: 100vw;
  /* social start */
  /* social end */
  /* scroll position start */
  /* scroll position end */
}
.wrapper .social {
  width: auto;
  height: 173px;
  position: fixed;
  z-index: 1000;
  top: 35vh;
  left: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}
.wrapper .social span {
  color: white;
  font-size: 18px;
  font-weight: 700;
  transform: rotate(90deg) translateY(140%);
  margin-bottom: 24px;
  text-transform: none;
}
.wrapper .social i {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.wrapper .scroll {
  max-width: 77px;
  height: 220px;
  position: fixed;
  z-index: 1000;
  top: 30vh;
  right: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* #position {
    position: absolute;
    content: "";
    width: 2px;
    height: 25%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: white;
    z-index: 7;
  } */
}
.wrapper .scroll a {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25%;
  width: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 1.5rem;
}
.wrapper .scroll a.active {
  border-right: 2px solid white;
  transition: all 0.2s linear;
}
.wrapper .background-wrapper {
  position: relative;
  width: 100vw;
  height: 1900px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .background-wrapper::before {
  content: "";
  position: absolute;
  width: 100vw;
  min-height: 1200px;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(330deg, rgba(11, 29, 38, 0), rgba(11, 29, 38, 0.2), #0b1d26);
}
.wrapper .background-wrapper:after {
  content: "";
  position: absolute;
  width: 100vw;
  min-height: 700px;
  bottom: -6.8%;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(rgba(11, 29, 38, 0), rgba(11, 29, 38, 0.2), #0b1d26);
}
.wrapper .background-wrapper #sky,
.wrapper .background-wrapper #mountain,
.wrapper .background-wrapper #delta {
  position: absolute;
  flex-shrink: 0;
}
.wrapper .background-wrapper #sky {
  width: 100vw;
  height: 700px;
  /* transform: translateY(-20%); */
  z-index: 1;
  top: 0;
}
.wrapper .background-wrapper #mountain {
  width: 100vw;
  height: 1422px;
  bottom: 4%;
  z-index: 2;
}
.wrapper .background-wrapper #delta {
  width: 100vw;
  height: 926px;
  bottom: -6.8%;
  z-index: 4;
}

.hero {
  width: 60vw;
  height: 310px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 387px;
  z-index: 3;
  gap: 32px;
  padding-top: 20rem;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #fbd784;
  padding-left: 15%;
  width: 100%;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: #fbd784;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.heading {
  font-size: 88px;
  line-height: 1.1363636364;
  color: white;
}

.more {
  color: white;
  font-size: 20px;
  text-transform: none;
}

.read {
  color: #fbd784;
  font-size: 20px;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .wrapper .social {
    left: 0;
  }
  .wrapper .scroll {
    right: 0;
  }
  .wrapper .background-wrapper {
    height: 850px;
  }
  .wrapper .background-wrapper::after {
    bottom: -6.9%;
  }
  .wrapper .background-wrapper #mountain {
    height: 575px;
    bottom: 0%;
    z-index: 2;
  }
  .wrapper .background-wrapper #delta {
    height: 368px;
    bottom: -6.8%;
    z-index: 4;
  }

  .hero {
    top: 200px;
    gap: 10px;
  }
  .hero .heading {
    font-size: 50px;
  }
}
.header {
  width: 100%;
  max-width: 100vw;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}
.header.fixed {
  position: fixed;
  z-index: 10000;
}
.header.fixed .logo {
  display: none;
}
.header.fixed .header-right {
  position: fixed;
  right: 4rem;
}
.header.fixed .header-right span {
  display: none;
}
.header.fixed .header-menu {
  flex-direction: column;
  position: fixed;
  gap: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 8px 24px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.header.fixed .header-menu .header-item {
  width: 100%;
}
.header.fixed .header-menu .header-link {
  display: block;
  width: 100%;
  padding: 2rem 0rem;
  text-align: center;
}
.header.fixed .header-menu.active {
  top: 20px;
  opacity: 1;
  visibility: visible;
}
.header.fixed .header-right .fa-bars {
  display: inline-block;
  transition: all 0.2s ease;
}
.header.fixed .header-right .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease;
}
.header .logo h2 {
  color: white;
  font-size: 32px;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-menu li a {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.header-right {
  font-size: 17px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-right .fa-bars {
  display: none;
}
.header-right i,
.header-right span {
  color: white;
}

@media screen and (max-width: 767px) {
  .header {
    top: 30px;
    padding: 0rem 1rem;
  }
  .header.fixed {
    position: fixed;
    z-index: 10000;
  }
  .header.fixed .logo {
    display: none;
  }
  .header.fixed .header-right {
    position: fixed;
    right: 1rem;
  }
  .header.fixed .header-right span {
    display: none;
  }
  .header-menu {
    flex-direction: column;
    position: fixed;
    gap: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  .header-menu .header-item {
    width: 100%;
  }
  .header-menu .header-link {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    text-align: center;
  }
  .header-menu.active {
    top: 35px;
    opacity: 1;
    visibility: visible;
  }
  .header-right .fa-bars {
    display: inline-block;
    transition: all 0.2s ease;
  }
  .header-right .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease;
  }
}
/* .section1-wrapper::before {
  content: "01";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
}
.section2-wrapper::before {
  content: "02";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
}
.section3-wrapper::before {
  content: "03";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
} */
.section2 {
  flex-direction: row-reverse;
}

.section-wrapper {
  width: 80vw;
  margin: 0 auto;
}

.section1,
.section2,
.section3 {
  width: 100%;
  margin: 0px 0px 200px 0px;
  padding-top: 5rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section1 .section1-wrapper::before,
.section2 .section1-wrapper::before,
.section3 .section1-wrapper::before {
  content: "01";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translate(-25%, -35%);
}
.section1 .section2-wrapper::before,
.section2 .section2-wrapper::before,
.section3 .section2-wrapper::before {
  content: "02";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translate(-40%, -35%);
}
.section1 .section3-wrapper::before,
.section2 .section3-wrapper::before,
.section3 .section3-wrapper::before {
  content: "03";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translate(-40%, -35%);
}
.section1 .section1-wrapper,
.section1 .section2-wrapper,
.section1 .section3-wrapper,
.section2 .section1-wrapper,
.section2 .section2-wrapper,
.section2 .section3-wrapper,
.section3 .section1-wrapper,
.section3 .section2-wrapper,
.section3 .section3-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.section1 .section1-wrapper .heading,
.section1 .section2-wrapper .heading,
.section1 .section3-wrapper .heading,
.section2 .section1-wrapper .heading,
.section2 .section2-wrapper .heading,
.section2 .section3-wrapper .heading,
.section3 .section1-wrapper .heading,
.section3 .section2-wrapper .heading,
.section3 .section3-wrapper .heading {
  text-transform: none;
  font-size: 60px;
  line-height: 1.203125;
  font-weight: 600;
}
.section1 .section1-wrapper .content,
.section1 .section2-wrapper .content,
.section1 .section3-wrapper .content,
.section2 .section1-wrapper .content,
.section2 .section2-wrapper .content,
.section2 .section3-wrapper .content,
.section3 .section1-wrapper .content,
.section3 .section2-wrapper .content,
.section3 .section3-wrapper .content {
  font-size: 18px;
  line-height: 1.7777777778;
  font-weight: 700;
  color: white;
}
.section1 .image,
.section2 .image,
.section3 .image {
  /* display: none; */
  width: 100%;
  max-width: 366px;
  height: 80%;
}
.section1 .image img,
.section2 .image img,
.section3 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .section1,
.section3,
.section2 {
    width: 100vw;
    flex-direction: column;
    gap: 60px;
    margin: 0px 0px 100px 0px;
  }
  .section1 .section1-wrapper,
.section1 .section2-wrapper,
.section1 .section3-wrapper,
.section3 .section1-wrapper,
.section3 .section2-wrapper,
.section3 .section3-wrapper,
.section2 .section1-wrapper,
.section2 .section2-wrapper,
.section2 .section3-wrapper {
    width: 90%;
  }
  .section1 .section1-wrapper .heading,
.section1 .section2-wrapper .heading,
.section1 .section3-wrapper .heading,
.section3 .section1-wrapper .heading,
.section3 .section2-wrapper .heading,
.section3 .section3-wrapper .heading,
.section2 .section1-wrapper .heading,
.section2 .section2-wrapper .heading,
.section2 .section3-wrapper .heading {
    font-size: 40px;
  }
  .section1 .image,
.section3 .image,
.section2 .image {
    width: 90%;
    max-width: 90%;
  }
}
.footer {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  --spacing: 1rem;
}
.footer .inner-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px var(--spacing);
  position: relative;
  padding-bottom: 10rem;
}
.footer .inner-footer .nocopy {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.411);
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}
.footer .inner-footer .left {
  width: calc(50% - var(--spacing));
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.footer .inner-footer .left h2 {
  color: white;
  font-size: 32px;
}
.footer .inner-footer .left span {
  width: 100%;
  max-width: 303px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7777777778;
  color: white;
}
.footer .inner-footer .footer-title {
  font-style: 24px;
  font-weight: 700;
  color: #fbd784;
}
.footer .inner-footer .mid,
.footer .inner-footer .right {
  width: calc(25% - var(--spacing));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.footer .inner-footer .mid .footer-menu,
.footer .inner-footer .right .footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.footer .inner-footer .mid .footer-menu .footer-link,
.footer .inner-footer .right .footer-menu .footer-link {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer .inner-footer .left {
    width: calc(50% - var(--spacing));
  }
  .footer .inner-footer .mid {
    width: calc(50% - var(--spacing));
  }
  .footer .inner-footer .right {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
