.header {
  width: 100%;
  max-width: 100vw;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  .logo {
    h2 {
      color: white;
      font-size: 32px;
    }
  }
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    li {
      a {
        color: white;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &-right {
    font-size: 17px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    i,
    span {
      color: white;
    }
  }
}
