/* .section1-wrapper::before {
  content: "01";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
}
.section2-wrapper::before {
  content: "02";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
}
.section3-wrapper::before {
  content: "03";
  position: absolute;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  top: 0;
  left: 0;
  transform: translateY(-25%);
} */

.section2 {
  flex-direction: row-reverse;
}
.section1,
.section2,
.section3 {
  width: 90vw;
  margin: 0px 0px 200px 50px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  .section1-wrapper::before {
    content: "01";
    position: absolute;
    width: 240px;
    height: 240px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 150px;
    top: 0;
    left: 0;
    transform: translate(-25%, -35%);
  }
  .section2-wrapper::before {
    content: "02";
    position: absolute;
    width: 240px;
    height: 240px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 150px;
    top: 0;
    left: 0;
    transform: translate(-40%, -35%);
  }
  .section3-wrapper::before {
    content: "03";
    position: absolute;
    width: 240px;
    height: 240px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 150px;
    top: 0;
    left: 0;
    transform: translate(-40%, -35%);
  }
  .section1-wrapper,
  .section2-wrapper,
  .section3-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    .title {
    }
    .heading {
      text-transform: none;
      font-size: 60px;
      line-height: calc(77 / 64);
      font-weight: 600;
    }
    .content {
      font-size: 18px;
      line-height: calc(32 / 18);
      font-weight: 700;
      color: white;
    }
    .read {
    }
  }
  .image {
    /* display: none; */
    width: 100%;
    max-width: 366px;
    height: 80%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 767px) {
  .section1,
  .section3,
  .section2 {
    width: 100vw;
    flex-direction: column;
    gap: 60px;
    margin: 0px 0px 150px 0px;
    .section1-wrapper,
    .section2-wrapper,
    .section3-wrapper {
      width: 90%;
      .heading {
        font-size: 40px;
      }
    }
    .image {
      width: 90%;
      max-width: 90%;
    }
  }
}
